In [9]:
people = {
    'first': ['malaya', 'abinash', 'premanana'],
    'last': ['swain', 'patra', 'pati'],
    'email': ['malayakumarswain8@gmail.com', 'aabinashpatra@gmail.com', 'premanandapati3@gmail.com']
}
people

{'first': ['malaya', 'abinash', 'premanana'],
 'last': ['swain', 'patra', 'pati'],
 'email': ['malayakumarswain8@gmail.com',
  'aabinashpatra@gmail.com',
  'premanandapati3@gmail.com']}

In [10]:
people['email']

['malayakumarswain8@gmail.com',
 'aabinashpatra@gmail.com',
 'premanandapati3@gmail.com']

In [14]:
import pandas as pd
df = pd.DataFrame(people)
df

       first   last                        email
0     malaya  swain  malayakumarswain8@gmail.com
1    abinash  patra      aabinashpatra@gmail.com
2  premanana   pati    premanandapati3@gmail.com

In [18]:
df['email']
# df['email'] == df.email  (not recommanded)

0    malayakumarswain8@gmail.com
1        aabinashpatra@gmail.com
2      premanandapati3@gmail.com
Name: email, dtype: object

In [19]:
df.email

0    malayakumarswain8@gmail.com
1        aabinashpatra@gmail.com
2      premanandapati3@gmail.com
Name: email, dtype: object

In [17]:
type(df['email'])
# i.e data frames returns series not list because series are the single column of rows

pandas.core.series.Series

In [20]:
df[['last','email']]

    last                        email
0  swain  malayakumarswain8@gmail.com
1  patra      aabinashpatra@gmail.com
2   pati    premanandapati3@gmail.com

In [23]:
type(df[['last','email']])
# it is not a series(multiple column of rows) it is a frame

pandas.core.frame.DataFrame